
		<!---start-wrap---->
			<!---start-header---->
			 <!-- FlexSlider -->
              <section class="slider">
				  <div class="flexslider">
					<ul class="slides">
						<li><img src="images/slider1.jpg" alt=""/></li>
						<li><img src="images/slider2.jpg" alt=""/></li>
					</ul>
				  </div>
	          </section>
              <!-- FlexSlider -->
               <div class="clear"> </div>
			<!----End--imageslider----->
			<!----start-top-header----->
			<div class="wrap">
				<div class="container">
     		 <div class="top-header">
     		 	<div class="top-search">
     		 		<form>
     		 			<input type="text"><input type="submit" value="" />
     		 		</form>
     		 	</div>
     		 	<div class="clear"> </div>
     		 	<div class="main-header">
     		 		<div class="logo">
     		 			<h1><a href="index.html"><img src="images/logo.png" title="logo" /></a></h1>
     		 		</div>
     		 		<div class="top-nav" id='cssmenu'>
						<ul class="orange nav1">
							<li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon"><em></em><em></em><em></em><em></em></span></li>
							<li style=""><a class="active" href="#">Home</a></li>
							<li class='has-sub' style=""><a href="#">About us</a>
<!--  dropdown menu for about us-->
                <!-- <ul>
									<li class='has-sub'><%= link_to "About 1", welcome_about_path %></li>
									<li class='has-sub'><%= link_to "About 2", welcome_about_path %></li>
									<li class='has-sub'><%= link_to "About 3", welcome_about_path %></li>
									<li class='has-sub'><%= link_to "About 4", welcome_about_path %></li>
								</ul> -->
<!-- dropdown menu for about us end  -->
							</li>
							<li style=""><%= link_to "Factory tips", welcome_tips_path %></li>
							<li style=""><%= link_to "Services", welcome_services_path %></li>
							<li style=""><%= link_to "Gallery", welcome_gallery_path %></li>
							<li style=""><%= link_to "Contact", welcome_contact_path %></li>
						</ul>
					</div>
     		 		<div class="clear"> </div>
     		 	</div>
     		 </div>
     		  <!----End-top-header----->
			<!---End-header---->
			<!---start-content---->
			<div class="content">
				    <div class="top_grids-box">
						<div class="top-grids">
							<div class="top-grid">
								<h3>Welcome</h3>
								<img src="images/slider1.jpg" title="image-name" />
								<a href="#">Read more</a>
							</div>
							<div class="top-grid">
								<h3>Our history</h3>
								<img src="images/slider2.jpg" title="image-name" />
								<a href="#">Read more</a>
							</div>
							<div class="top-grid" id="last-grid">
								<h3>Our Events</h3>
								<img src="images/slider5.jpg" title="image-name" />
								<a href="#">Read more</a>
							</div>
							<div class="clear"> </div>
						</div>
					</div>

						<div class="mid-grids">
							<div class="mid-grid">
								<h3>About us</h3>
								<span>Specializing in creation of mechincal machines to automate processes , Ambot Automation dedicates itself to providing dependable services.</span>
								<p>The creation of machines that do millions of operations per second is no feat, and we have it down to a rote and a science.</p>
								<p>For the past 15 years, we've been dedicating our service to the Toronto Ontario area.</p>
								<a class="button" href="#">Read more</a>
							</div>
							<div class="mid-grid">
								<h3>Services</h3>
								<p>Services include design, drafting, and contracted completetion management.</p>
								<ul>
									<li><a href="#">Drafting Packages</a></li>
									<li><a href="#">Design Packages</a></li>
									<li><a href="#">Materials Packages</a></li>
									<li><a href="#">Completion Retainer Agreement</a></li>
									<!-- <li><a href="#">Phasellus in urna</a></li> -->
									<!-- <li><a href="#">Vestibulum vitae lorem</a></li> -->
								</ul>
								<a class="button" href="#">Read more</a>
							</div>
							<div class="mid-grid" id="last-grid1">
								<h3>Latest-News</h3>
								<p>As of December 10, 2017, Ambot Automation is working on teambuilding, request management, and frontend/backend actions to serve you better!</p>
								<div class="latest-news-grid">
									<div class="latest-news-pic">
										<img src="images/n1.jpg" title="imag-name" />
									</div>
									<div class="latest-news-info">
										<a href="#">Dec 10, 2017</a>
										<p>Ambot Automation sells rc cars! A webstore is soon to come!</p>
									</div>
									<div class="clear"> </div>
								</div>
								<div class="latest-news-grid">
									<div class="latest-news-pic">
										<img src="images/n2.jpg" title="imag-name" />
									</div>
									<div class="latest-news-info">
										<a href="#">Dec 8, 2017</a>
										<p>Ambot Automation strikes up igniting conversation with matches on matchbox.top!</p>
									</div>
									<div class="clear"> </div>
								</div>
								<a class="button" href="#">Read more</a>
							</div>
							<div class="clear"> </div>
						</div>
						<div class="bottom-grids">
							<div class="bottom-grid-videos">
								<h3>Watch the Video</h3>
								<div class="video-grid">
									<img src="images/v1.jpg" title="video-name" />
									<p>Our Youtube site is currently under development.</p>
								</div>
								<div class="video-grid">
									<img src="images/v2.jpg" title="video-name" />
									<p>User submissions can be sent to the <%= link_to "developer!", "http://techit.herokuapp.com/#contact" %></p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="tips">
								<h3>Navigation Tips</h3>
								<div class="menu_container">
									<p class="menu_head">Factory Tip1<span class="plusminus">+</span></p>
										<div class="menu_body" style="display: none;">
										<p>Issue any suggestions <%= link_to "here!", welcome_contact_path %></p>
										</div>
									<p class="menu_head">Factory Tip2<span class="plusminus">+</span></p>
										<div class="menu_body" style="display: none;">
										<p>  <%= link_to "Developer site", "http://techit.herokuapp.com/#contact" %> unlocked!</p>
										</div>
								</div>
							</div>
						<script type="text/javascript">
							$(document).ready(function(){
								$(".menu_body").hide();
								//toggle the componenet with class menu_body
								$(".menu_head").click(function(){
									$(this).next(".menu_body").slideToggle(600);
									var plusmin;
									plusmin = $(this).children(".plusminus").text();

									if( plusmin == '+')
									$(this).children(".plusminus").text('-');
									else
									$(this).children(".plusminus").text('+');
								});
							});
						</script>
							<div class="clear"> </div>
						</div>
				</div>
			<!---End-content---->
		</div>
		<!---End-wrap---->
		</div>
		<div class="footer">
				<div class="top-to-page">
						<a href="#top" class="scroll"> </a>
						<div class="clear"> </div>
					</div>
          <h6> <%= link_to "Techit ", "http://techit.herokuapp.com/#contact" %> & <%= link_to "W3layouts", "http://w3layouts.com/"%> All Rights Reserved</a></h6>
			</div>
		</div>
