<title>Custom Control Panel Quote</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" id="header">
  <div class="row"></div>
  <div class="row"></div>
</div>
<div class="container" id="body">
  <div class="row">Custom Control Pael Quote</div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        I am a big image
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col">
            Basic Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="First Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Email (required))">
            <br>
            <p>
              Service Branch Location
            </p>
            <br>
            <input type="dropdown" name="" value="Toronto, Ontario">
          </div>
          <div class="col">
            Advaced Form
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Last Name (required)">
            <br>
            <input type="text" class="form-control" name="" value="" placeholder="Company">
            <br>
            <p>
              Industry
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
        </div>
        <br><br><br>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <p>
              Panel Enclosure
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Required Certification
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Incoming Voltage
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
          <div class="col">
            <p>
              Panel Safety Category
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              NEMA Rating
            </p>
            <br>
            <input type="dropdown" name="" value="---">
            <br>
            <p>
              Control Voltage
            </p>
            <br>
            <input type="dropdown" name="" value="---">
          </div>
        </div>

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col">
              PLC Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            <br>
            <br>
              HMI Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
            <br>
            <br>
              Buttons Required?
            <br>
            <p>
              <form class="" action="" method="post">
                <label for="Yes">
                  Yes
                </label>
                <input type="radio" name="" value="">
                <label for="No">
                  No
                </label>
                <input type="radio" name="" value="">
              </form>
            </p>
          </div>
          <div class="col">
            Motor Nameplate Info
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the AC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the DC motor info.">
            <br>
            <input class="form-control" type="text" name="" value="" placeholder="Please specify the other motor info.">
          </div>
        </div>
        <hr width="100%">
        <div class="row">
          <div class="col">
            <br>
            <br>
            <br>
            <br>
            Please provide any additional information required.
            <textarea name="message" rows="10" cols="30" placeholder="">
            </textarea>
            <input type="paragraph" name="" value="">
          </div>
          <div class="col">
            <p>
            Expected Completion Date
            </p>
            <br>
            <form method="post">
              <div class="form-group"> <!-- Date input -->
                <label class="control-label" for="date">Date</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
              </div>
              <div class="form-group"> <!-- Submit button -->
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
              </div>
           </form>
           <br>
           A Captcha Goes here
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container" id="footer">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-3">AMBOT AUTOMATION
          <br>
          <br>
          this is a nice image of me
        </div>
        <div class="col-3">MODULAR DESIGN
          <br>
          <br>
          there is a nice image of design here
        </div>
        <div class="col-3">Navigation
          <%= link_to "About Us", welcome_about_path %> <br>
          <%= link_to "Gallery", welcome_gallery_path %> <br>
          <%= link_to "Plan", welcome_plan_path %> <br>
          <%= link_to "Completed Requests", welcome_reqcomplete_path %> <br>
          <%= link_to "Services", welcome_services_path %> <br>
          <%= link_to "Completed Orders", welcome_completedorders_path %> <br>
          <%= link_to "Home", welcome_index_path %> <br>
          <%= link_to "User Profile", welcome_myProfile_path %> <br>
          <%= link_to "Tips", welcome_tips_path %> <br>
          <%= link_to "Contact Us", welcome_contact_path %> <br>
          <%= link_to "Manual Quote", welcome_man_quote_path %> <br>
          <%= link_to "Pending Open Orders", welcome_pendingopen_path %> <br>
          <%= link_to "Register", welcome_register_path %> <br>
          <%= link_to "Request a Quote", welcome_req_quote_path %> <br>
          <div class="hidden" hidden="true">
            <%= link_to "help", welcome_view_path %> <br>
          </div>

        </div>
      </div>
    </div>
    <div class="col-3">My form begis here
    </div>
  </div>
</div>








<script>
// <div class="hidden" hidden="true">
//
//   <h1>New Quote</h1>
//   <p>
//   <form action="https://getsimpleform.com/messages?form_api_token=b3a753b8a8f9dd973108208981f54524" method="post">
//     <div>
//       <span><label>Upload Schematics</label></span>
//       <span><button name="schematics">Choose files to upload </button></span>
//     </div>
//     <div>
//       <span><label>Select Panel Size</label></span>
//       <span>
//         <select name="sizes" id="sizes">
//           <option value="1x1" id=“1x1“>1x1</option>
//           <option value="2x2" id=“2x2“>2x2</option>
//           <option value="3x3" id=“3x3“>3x3</option>
//           <option value="4x4" id=“4x4“>4x4</option>
//           <option value="5x5" id=“5x5“>5x5</option>
//           <option value="6x6" id=“6x6“>6x6</option>
//           <option value="7x7" id=“7x7“>7x7</option>
//           <option value="8x8" id=“8x8“>8x8</option>
//           <option value="9x9" id=“9x9“>9x9</option>
//           <option value="10x10" id=“10x10“>10x10</option>
//         </select>
//
//         <input type="text" name="qty1" value="Qty">
//
//       </span>
//     </div>
//     <div>
//       <span><label>Parts Selection</label></span>
//       <span>
//         <br>Fusing or CB
//         <select name='fusing_or_CB' id="fusing_or_CB">
//           <option value="1pole" id=“1pole“>1 pole</option>
//           <option value="2pole" id=“2pole“>2 pole</option>
//           <option value="3pole" id=“3pole“>3 pole</option>
//         </select>
//         <input type="text" name="qty2" value="Qty">
//         <br>Contactors
//         <select name='contactors' id="contactors">
//           <option value="0-50A" id=“0-50A“>0-50A</option>
//           <option value="60-150A" id=“60-150A“>60-150A</option>
//           <option value="200A+" id=“200A+“>200A +</option>
//         </select>
//         <input type="text" name="qty3" value="Qty">
//         <br>Relays
//         <select name='relays' id="relays">
//           <option value="2polerelay" id=“2polerelay“>2 pole relay</option>
//           <option value="forceguided" id=“forceguided“>forceguided</option>
//           <option value="safetyrelays" id=“safetyrelays“>safety relays</option>
//         </select>
//         <input type="text" name="qty4" value="Qty">
//         <br>Transformer
//         <select name='transformer' id="transformer">
//           <option value="50-1000VA" id=“50-1000VA“>50-1000 VA</option>
//           <option value="1500-3KVA" id=“1500-3KVA“>1500-3KVA</option>
//         </select>
//         <input type="text" name="qty5" value="Qty">
//         <!-- <br> -->
//         <!-- <select name='power supply'>
//         </select> -->
//         <br>PLC
//         <select name='plc' id="plc">
//           <option value="mainunitandpowersupply" id=“mainunitandpowersupply“>main unit and power supply</option>
//           <option value="digInOut16pt" id=“digInOut16pt“>digital - input / output  (16pt)   (omron)</option>
//           <option value="analInOut4pt" id=“analInOut4pt“>analog - inout / output  (4pt)</option>
//         </select>
//         <input type="text" name="qty6" value="Qty">
//         <br>VFDS
//         <select name='vfds' id="vfds">
//           <option value="analInOut4pt2" id=“analInOut4pt2“>analog - inout / output  (4pt)</option>
//         </select>
//         <input type="text" name="qty7" value="Qty">
//         <br>Special Device or Custom Modification
//         <select name='SpecialDeviceOrCustomMod' id="SpecialDeviceOrCustomMod">
//           <option value="LAYOUTOFENCLOSUREANDDOOR" id=“LAYOUTOFENCLOSUREANDDOOR“>Layout of Enclosure and Door</option>
//         </select>
//         <input type="text" name="qty8" value="Qty">
//         <br>Pilot Device
//         <select name='pilotDevice(pushbuttonsswlight)' id="pilotDevice">
//           <option value="1-10 devices" id=“1-10 devices“>1-10 devices</option>
//           <option value="eachAdditionalDevice" id=“eachAdditionalDevice“>each additional device</option>
//           <option value="hmi" id=“hmi“>hmi</option>
//           <option value="cable glands" id=“cable glands“>cableglands</option>
//           <option value="externalConnectionQuickConnect" id=“externalConnectionQuickConnect“>external connection quick connect</option>
//           <option value="punchMountAndWireExternamComponents" id=“punchMountAndWireExternamComponents“>PUNCH Mount and Wire External Components</option>
//           <option value="pilotDevicePushButSswLight" id=“pilotDevicePushButSswLight“>pilot device  (pushbutton, ssw, light)</option>
//           <option value="perDevice" id=“perDevice“>per device</option>
//           <option value="hmi" id=“hmi“>hmi</option>
//           <option value="cableGlands1" id=“cableGlands1“>cable glands</option>
//           <option value="externamConnectQuickConnect" id=“externamConnectQuickConnect“>external connection quick connect</option>
//           <option value="1-10poles" id=“1-10poles“>1-10 poles</option>
//           <option value="12-16poles" id=“12-16poles“>12-16 poles</option>
//           <option value="coolingFanintakeFilter" id=“coolingFanintakeFilter“>cooling fan /intake filter</option>
//         </select>
//         <input class="input" type="text" name="qty9" value="Qty">
//
//         <!-- <input name="parts" type="text" class="textbox"></span> -->
//     </div>
//     <div>
//       <span><label>Requested Completion Date</label></span>
//       <span>
//         <select name="RTTC" id="RTTC">
//           <option value="4to6" id=“4to6“>4-6 weeks</option>
//           <option value="3to4" id=“3to4“>3-4 weeks</option>
//           <option value="2to3" id=“2to3“>2-3 weeks</option>
//           <option value="1to2" id=“1to2“>1-2 weeks</option>
//           <option value="1week" id=“1week“>within 1 week</option>
//         </select>
//       </span>
//     </div>
//     <div>
//       <span><label>Upload Pictures of Onhand Parts</label></span>
//       <span><button name="onhandparts">Choose files to upload </button>
//       <input type="text" name="qty10" value="Qty"></span>
//     </div>
//
//    <div>
//       <span><input type="submit" value="Submit"></span>
//   </div>
//   </form>
//
//   <%= link_to "Completed Quote", welcome_reqcomplete_path %>
//   <br><br><br><br>
//   <p style="border: 1px solid green"onclick="doquote()" value="calquote" >Click here to Calculate Quote</p>
//
//   <p  id="quoteval"> Click above to get a time quote:</p>
//   <input  type='submit' value='Submit - (only click once)' />
//   <script type="text/javascript">
//   function doquote(){
//   // make a function to calculate the quote
//   var totalquotetimeinminutes = 0;
//   switch(document.getElementById('sizes').value) {
//     case "1x1":
//         totalquotetimeinminutes += 0
//     case "2x2":
//         totalquotetimeinminutes += 0
//     case "3x3":
//         totalquotetimeinminutes += 0
//     case "4x4":
//         totalquotetimeinminutes += 0
//     case "5x5":
//         totalquotetimeinminutes += 0
//     case "6x6":
//         totalquotetimeinminutes += 0
//     case "7x7":
//         totalquotetimeinminutes += 0
//     case "8x8":
//         totalquotetimeinminutes += 0
//     case "9x9":
//         totalquotetimeinminutes += 0
//     case "10x10":
//         totalquotetimeinminutes += 0
//   }
//   switch(document.getElementById('fusing_or_CB').value) {
//     case "1pole":
//         totalquotetimeinminutes += 10
//     case "2pole":
//         totalquotetimeinminutes += 20
//     case "3pole":
//         totalquotetimeinminutes += 30
//
//   }
//   switch(document.getElementById('contactors').value) {
//     case "0-50A":
//         totalquotetimeinminutes += 30
//     case "60-150A":
//         totalquotetimeinminutes += 60
//     case "200A+":
//         totalquotetimeinminutes += 90
//
//   }
//   switch(document.getElementById('relays').value) {
//     case "2polerelay":
//         totalquotetimeinminutes += 20
//     case "forceguided":
//         totalquotetimeinminutes += 30
//     case "safetyrelays":
//         totalquotetimeinminutes += 60
//
//   }
//   switch(document.getElementById('transformer').value) {
//     case "50-1000VA":
//         totalquotetimeinminutes += 30
//     case "1500-3KVA":
//         totalquotetimeinminutes += 60
//   }
//   switch(document.getElementById('plc').value) {
//     case "mainunitandpowersupply":
//         totalquotetimeinminutes += 30
//     case "digInOut16pt":
//         totalquotetimeinminutes += 60
//     case "analInOut4pt":
//         totalquotetimeinminutes += 30
//   }
//   switch(document.getElementById('vfds').value) {
//     case "analInOut4pt2":
//         totalquotetimeinminutes += 60
//   }
//   switch(document.getElementById('SpecialDeviceOrCustomMod').value) {
//     case "LAYOUTOFENCLOSUREANDDOOR":
//         totalquotetimeinminutes += 60
//   }
//   switch(document.getElementById('pilotDevice').value) {
//     case "1-10 devices":
//         totalquotetimeinminutes += 60
//     case "each additional device":
//         totalquotetimeinminutes += 10
//     case "hmi":
//         totalquotetimeinminutes += 30
//     case "cable glands":
//         totalquotetimeinminutes += 10
//     case "external connection quick connect":
//         totalquotetimeinminutes += 10
//   }
//   switch(document.getElementById('pilotDevice').value) {
//     case "1-10 devices":
//         totalquotetimeinminutes += 60
//     case "eachAdditionalDevice":
//         totalquotetimeinminutes += 10
//     case "hmi":
//         totalquotetimeinminutes += 30
//     case "cable glands":
//         totalquotetimeinminutes += 10
//     case "externalConnectionQuickConnect":
//         totalquotetimeinminutes += 10
//     case "punchMountAndWireExternamComponents":
//         totalquotetimeinminutes += 5
//     case "pilotDevicePushButSswLight":
//         totalquotetimeinminutes += 5
//     case "perDevice":
//         totalquotetimeinminutes += 20
//     case "hmi":
//         totalquotetimeinminutes += 60
//     case "cableGlands1":
//         totalquotetimeinminutes += 10
//     case "externamConnectQuickConnect":
//         totalquotetimeinminutes += 10
//     case "1-10poles":
//         totalquotetimeinminutes += 30
//     case "12-16poles":
//         totalquotetimeinminutes += 60
//     case "coolingFanintakeFilter":
//         totalquotetimeinminutes += 90
//
//   }
//
//         totalquotetimeinhours = (totalquotetimeinminutes/60).toFixed(2);
//
//   document.getElementById('quoteval').innerHTML = "It will take approximately " + String(totalquotetimeinhours) + " hours for this project to be done.";
//   };
//   //make a function to change the quoteval tag on the HTML
//
//
//   </ loljk script>
// </div>
</script>
